@font-face {
  font-family: lucidity-condensed;
  src: url(../public/font/FontsFree-Net-lucidity-condensed.ttf);
}

body {
  margin: 0;
  background-color: #e6cea3;
  font-family: lucidity-condensed;
  background-image: url('../public/dom-fit-logo-enhaced-modified.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1; /* Set a higher z-index value */
}

code {
  font-family: lucidity-condensed;
}
