@font-face {
  font-family: lucidity-condensed;
  src: url(../public/font/FontsFree-Net-lucidity-condensed.ttf);
}

body {
  margin: 0;
  background-color: #e6cea3;
  font-family: lucidity-condensed;
}

code {
  font-family: lucidity-condensed;
}
